nav {
  height: 3vw;
  background-color: var(--nav);
  color: var(--icon);
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: solid 0.10vw var(--text);
}

nav button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

nav input {
  height: 2vw;
  width: 80vw;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid var(--secondary);
}

nav i {
  color: var(--icon);
  padding-top: 0.5vw;
  font-size: 1.5vw;
  padding-left: 1vw;
  padding-right: 1vw;
}

nav i:hover {
  color: var(--text);
}
button {
  display: flex;
}

.search-container {
  position: relative;
}

.search-container input[type="search"] {
  padding-left: 4vw;
  color: var(--text);
  font-size: 1vw;
  font-weight: bold;
  border-radius: 5px;
  background-color: var(--icon);
  transition: border-color 0.5s;
}

.search-container input[type="search"]:focus {
  border-color: var(--principal);
  outline: none;
}

.search-container .icon {
  font-size: 1.25vw;
  color:var(--text);
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
}

.search-container input[type="search"]::placeholder {
  color: var(--text);
  opacity: 1;
}
