<!-- Barra de las categories -->
<div class="categories">
  <button (click)="previousCategory()">
    <i class="fi fi-br-angle-double-small-left icon-sm"></i>
  </button>
  <a href="#" style="text-decoration: none">{{ getCategory1() }} </a>
  <a href="#" style="text-decoration: none">{{ getCategory2() }} </a>
  <a href="#" style="text-decoration: none">{{ getCategory3() }} </a>
  <a href="#" style="text-decoration: none">{{ getCategory4() }} </a>
  <a href="#" style="text-decoration: none">{{ getCategory5() }} </a>
  <button (click)="nextCategory()">
    <i class="fi fi-br-angle-double-small-right icon-sm"></i>
  </button>
</div>
<div class="contenedor-principal">
  <!-- Ofertes de Nadal -->
  <div class="separador">
    <hr class="linea" />
    <h3>Ofertas de Navidad</h3>
    <hr class="linea" />
  </div>
  <div class="carousel">
    <button (click)="previous_discount()">
      <i class="fi fi-br-angle-double-small-left icon"></i>
    </button>

    <div class="products">
      @for (product of visibleDiscount; track product.id) {
      <app-products
        [name]="product.name"
        [url]="product.url"
        [price]="product.price"
        [stars]="product.stars"
        [discount]="product.discount"
      ></app-products>
      }
    </div>

    <button (click)="next_discount()">
      <i class="fi fi-br-angle-double-small-right icon"></i>
    </button>
  </div>

  <!-- Productes -->
  <div class="separador">
    <hr class="linea" />
    <h3>Productos destacados</h3>
    <hr class="linea" />
  </div>

  <div class="carousel">
    <button (click)="previous()">
      <i class="fi fi-br-angle-double-small-left icon"></i>
    </button>

    <div class="products">
      @for (product of visibleProducts; track product.id) {
      <app-products
        [name]="product.name"
        [url]="product.url"
        [price]="product.price"
        [stars]="product.stars"
      ></app-products>
      }
    </div>

    <button (click)="next()">
      <i class="fi fi-br-angle-double-small-right icon"></i>
    </button>
  </div>
  <!-- Categories en tendencia -->
  <div class="tendency">
    <h3>Categorías en tendencia</h3>
    <div class="row">
      @for(tendencia of tendencias; track tendencia.id) {
      <div class="contenedor-categoria">
        <app-category [category]="tendencia.name"></app-category>
      </div>
      }
    </div>
  </div>
</div>
