:root{
  --principal:#0056b3;
  --secondary: #A9D6E5;
  --nav:#2a6f97;
  --container:#61A5C2;
  --container-hover: #468FAF;
  --background: #e8f9ff;
  --text:black;
  --text-muted: #6c757d;
  --text-nav: black;
  --icon:white;
  --hover: black;
  --box-shadow-color: rgba(0, 0, 0, 0.3);
  --background-container: white;
}

[data-theme='dark'] {
  --principal: #a5b3c5;
  --secondary: #3c4043;
  --nav:#343A40;
  --container: #343A40;
  --container-hover: #8b9ba1;
  --background: #495057;
  --text:white;
  --text-muted: #ccd2d8;
  --text-nav: black;
  --icon:white;
  --hover: white;
  --box-shadow-color: rgba(255, 255, 255, 0.3);
  --background-container: #6C757D;
}

@import url("https://fonts.googleapis.com/css2?family=Amazon+Ember:wght@400;700&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: "Amazon Ember", sans-serif;
}
html {
  background-color:var(--background);
}


